/* COLOR PALLETTE QUICK REF */
/* --baby-powder: #fffffaff;
  --dark-pastel-green: #0cca4aff;
  --maximum-blue: #4fb0c6ff;
  --carolina-blue: #4f9bc6ff;
  --bleu-de-france: #4f86c6ff; */
  /* body {
    background: rgb(79,155,198);
    background: linear-gradient(164deg, rgba(79,155,198,1) 0%, rgba(79,134,198,1) 35%, rgba(79,176,198,1) 90%, rgba(12,202,74,1) 100%);
    } */

body {
  background: rgb(34,193,195);
  background: linear-gradient(144deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.navigationBar {
  background: rgb(14,193,190);
  background: linear-gradient(159deg, rgba(14,193,190,1) 23%, rgba(94,234,3,1) 100%);
  border-bottom: 2px solid black;
}

.form-area {
  text-align: center;
}

.aligned-to-center {
  text-align: center;
}

.no-background {
  background: rgb(0, 0, 0, 0%);
  border: none;
}

.blackText {
  color: black;
}

.widen {
  width: 100%;  
}

.italics {
  font-style: italic;
}

.add-button {
  background: rgb(12,202,74);
  background: linear-gradient(170deg, rgba(12,202,74,1) 64%, rgba(255,255,250,1) 100%);
}

.remove-button {
  background: rgb(253,29,29);
background: linear-gradient(170deg, rgba(184,92,52,1) 50%, rgba(255,255,250,1) 100%);
}

.thicker-border {
  border: 2px solid black;
}

.submit-button {
  background: rgb(12,202,74);
  background: linear-gradient(170deg, rgba(12,202,74,1) 64%, rgba(34,193,195) 100%);
}

.btn-inactive {
  border: 2px solid black;
}